.btnn{
  margin: -29px -70px;
  position: absolute;
    display: inline-block;
  padding: 5px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ffbe0b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}
.btnn:hover {background-color: #e85d04}

.btnn:active {
  background-color: #e85d04;
  box-shadow: 0 5px #dc2f02;
  transform: translateY(4px);
}

.inputt[type=text] {

  font-size: 20px;
  border-radius: 5px;
  width: 20%;
  padding: 12px 1px;
  margin: -34px -350px;
  box-sizing: border-box;
  border: none;
  background-color: #ee7d32;
  color: white;
  position: absolute;
}